[Desktop Entry]
Name=simpleblogger
GenericName=simpleblogger
Comment=Blogger client
Icon=simpleblogger
Exec=simpleblogger
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
